:root {
    --box-shadow: gray;
    --borer-color: lightgray;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    text-align: center;
    position: relative;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--borer-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--box-shadow);
}

img {
    width: 150px;
    height: auto;
    border: .5px solid var(--borer-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--box-shadow);
}

aside img {
    width: 100%;
    height: auto;
    float: right;
}

aside h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3rem;

}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    margin: 1rem;
}